*{
    margin: 0;
    padding: 0;
}
body{
    margin-left: 2% 1% 0 1%;
}
nav {
    display: flex;
    flex-direction: column;
}
#nav1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 5vh;
   background-color: darksalmon;
   color: white;
}
#nav2{
    display: flex;
    justify-content: space-between; 
    gap: 5%;
    height: 5vh;
}
nav img{
    width: 4%;
}
#nav2a {
    display: flex;
    justify-content: center;
    width: 35%;
    gap: 5%;
    align-items: center;
    text-align: center;  
}
#nav2b{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
    color: darksalmon;
}
#nav2c {
    display: flex;
    justify-content: center;
    width: 35%;
    gap: 5%;
    align-items: center;
    text-align: center; 
}